<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<p th:replace="fragments :: navigation"></p>

<form method="post" style="max-width: 600px" th:object="${user}">
    <div class="form-group">
        <label th:for="userName">Username</label>
        <input class="form-control" th:field="*{userName}" th:value="${user.userName}"/>
        <span th:errors="*{userName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="email">Email (optional)</label>
        <input class="form-control" th:field="*{email}"/>
        <span th:errors="*{email}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}"/>
        <span th:errors="*{password}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="verify">Verify Password</label>
        <input type="password" class="form-control" th:field="*{verifyPassword}"/>
        <span th:errors="*{verifyPassword}" class="error"></span>
    </div>

    <input type="submit" value="Add User"/>
</form>

</body>
</html>